<h1 class="round">Listing issues</h1>

<div class="list">
  <%= render :partial => "list" %>
</div>

<%= link_to 'New Issue', new_issue_path %>

<%= link_to "Delete selected", "javascript:Destroy('#{issues_destroy_async_path}');" %>