*
{
	margin: 0;
	padding: 0;
	font-size: 12pt;
	font-family: "Segoe UI", Tahoma, Arial, Verdana, Helvetica, Sans-Serif;
}

.round
{
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

body
{
	background-color: #ffffff;
}

a, a:link, a:visited, a:active
{
	color: #3376D7;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

input[type=text], input[type=password], select
{
    padding: 3px;
    width: 300px;
    border: 1px solid #cccccc;
}

textarea
{
    padding: 3px;
    width: 300px;
    height: 75px;
    border: 1px solid #cccccc;
}

.required
{
    font-weight: bold;
}

#header
{
    height: 70px;
    background-color: #ffffff;
    border-left: 10px solid #3376D7;
    border-bottom: 1px solid #cccccc;
}

#menu
{
	height: 42px;
	padding-top: 15px;
}

#logon-view
{
    width: 500px;
    position: absolute;
    top: 7px;
    right: 30px;
}

#logon-view p
{
    text-align: right;
    color: #000000;
}

#logon-view p a
{
    color: #000050;
    padding: 5px 5px 0px 5px;
    text-decoration: underline;
}

#logon-view p a:hover
{
}

#content-wrapper
{
    position: absolute;
    top: 71px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
}

#content
{
	background: #ffffff url('../images/content-background.png') repeat-y;
	min-height: 600px;
}

#content h1
{
	color: #ffffff;
	font-size: 15pt;
	font-weight: normal;
	text-transform: lowercase;
    background-color: #3376D7;
    padding: 0.5em;
    margin: 0 5px 10px 0;
}

.notice
{
    width: 500px;
    border: 1px solid #339933;
    padding: 5px;
    color: #339933;
}

.alert
{
    width: 500px;
    border: 1px solid #993333;
    padding: 5px;
    color: #993333;
}

#content-left
{
	float: left;
	width: 250px;
}

#content-right
{
    border-left: 1px solid #dddddd;
	position: relative;
	margin-left: 250px;
	margin-right: 5px;
	padding: 10px;
}

div#footer
{
    border-top: 1px solid #cccccc;
	padding-top: 10px;
	text-align: center;
	height: 50px;
}