div#menu ul
{
	float: left;
	margin-left: 0px;
}

div#menu li
{
	float: left;
	list-style-type: none;
	width: 127px;
	height: 40px;
	margin-left: 5px;
}

div#menu li a
{
    text-decoration: none;
	display: block;
	height: 40px;
    color: #cccccc;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	width: 127px;
	font-weight: normal;
	padding-top: 0px;
	font-size: 15pt;
	text-transform: lowercase;
}

div#menu li a.current, div#menu li a:hover
{
	color: #000000;
    background-color: #ffffff;
	border: 0;
}