<ul>
  <li><%= link_to "Home", :controller => "/pages", :action => "home" %></li>
  <li><%= link_to "List issues", :controller => "/issues", :action => "index" %></li>
  <li><%= link_to "Create issue", :controller => "/issues", :action => "new" %></li>
</ul>